* {
  padding: 0;
  margin: 0;
	outline: none;
  border: 0;
}

body {
	position:relative;
    font-family:
		'Outfit', sans-serif;
	font-size: 18px;
	overscroll-behavior: none;
  overflow-wrap: anywhere;
  overflow-y: scroll;
  opacity: 0;
  transition: opacity .5s;
}

h1 {
	font-size: 4rem;
	font-weight: 600;
}

h2 {
	font-size: 2rem;
	font-weight: 500;
  padding: 1rem 0;
}

h2.t {
  text-align: center;
}

h3 {
	font-size: 1.4rem;
	font-weight: 400;
  padding: 0.43rem 0;
}

p, h4 {
	font-size: 1rem;
	line-height: 1.35rem;
	font-weight: 350;
	margin-bottom: .35rem;
}

p {
	text-indent: 2rem;
}

small {
	font-size: .7rem;
	font-weight: 300;
  padding: 0.725rem 0;
}

img, video {
	max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

a {
	text-decoration: none;
	color: black;
}

svg {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

ul {
	list-style-type: none;
}

ul h3::before{
  content: '・'
}

li {
	transform: translateX(0);
	transition: transform .3s;
}

li:hover {
	transform: translateX(1em);
	cursor: pointer;
}

div:not(#cr):not(#img) {
	display: flex;
}

div span#index {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

div span#index h4 {
	writing-mode: vertical-lr;
  text-orientation: sideways;
	transform: rotateZ(180deg);
	line-height: 2rem;
  text-align: center;
  position: relative;
  margin: 0;
}

div span#index h4::before {
  position: absolute;
  width: 2.5px;
  height: 100%;
  content: '';
  top: 0;
  transform: translateX(calc(1rem - 1.25px));
  z-index: -1;
}

#index h4::after {
  position: absolute;
  background: white;
  content: 'WORKS';
  color: white;
  transform: translate(0, -100%) scale(1.25);
  z-index: -1;
}

div > span:first-child {
  padding: 10px;
}

div#cr,
div > span:last-child {
  padding: 1rem;
}

div#gallery {
  flex-direction: column;
}

div#gallery > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

div#gallery > div > span > span {
  border-radius: 10px;
  height: 100px;
  width: 100px !important;
  position: absolute;
  left: calc(50% - 50px - 0.5rem);
  background: #ffffff;
  transition: transform .3s;
}

div#gallery > div > span > span:first-child {
  transform: translate(15px, 35px);
}

div#gallery > div:hover > span > span:first-child {
  transform: translate(20px, 40px);
}

div#gallery > div > span > span:last-child {
  transform: translate(-15px, 5px);
}

div#gallery > div:hover > span > span:last-child {
  transform: translate(-20px, 0);
}

#top h1 {
  position: relative;
}

#image > img, #image > video {
  border-radius: 0;
}

#index > ul {
  font-style: italic;
}



@media all and (orientation: landscape) {
  #top h1,
  #top > span:nth-child(2) > h4:nth-child(2),
  #top h2 {
    text-align: left;
  }

  div:not(#cr):not(#top) {
    align-items: center;
  }

	div:not(#cr).normal {
		flex-direction: row;
	}

	div:not(#cr).reverse {
		flex-direction: row-reverse;
	}

	div:not(#top) > span:first-child h2 {
		display: none;
	}

	div:not(#top) > span:last-child h2 {
		display: block;
	}

	div:not(#img) > span {
		width: 50%;
	}

  div#top {
    justify-content: space-between;
  }

  div#top > span:first-child {
    max-width: 50%;
    max-height: calc(100vh - 20px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  div#w1 > span:first-child,
  div#w2 > span:first-child,
  div#w3 > span:first-child,
  div#w4 > span:first-child,
  div#w5 > span:first-child {
    max-width: 50%;
    max-height: calc(100vh - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img, video {
    max-height: calc(100vh - 20px);
  }

  div#top span#title {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  div#top span#title span#space {
    width: 2.5rem;
  }
}

@media all and (orientation: portrait) {
  #top h1,
  #top > span:nth-child(2) > span:nth-child(1) > span:nth-child(3) > h4,
  #top h2 {
    text-align: center;
  }

  #top > span:last-child, #top > span:last-child > h2 {
    padding-top: 0;
  }

	div:not(#cr) {
		flex-direction: column;
	}

	div:not(#top) > span:first-child h2 {
		display: block;
	}

	div:not(#top) > span:last-child h2 {
		display: none;
	}

  div#top > span:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div#w1 > span:first-child,
  div#w2 > span:first-child,
  div#w3 > span:first-child,
  div#w4 > span:first-child,
  div#w5 > span:first-child {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img, video {
    max-height: calc(100vh - 20px - 4rem);
  }

  div#top span#title {
    flex-direction: column;
  }


}



#title > span:nth-child(3){
  margin-top: 1rem;
}






 #img {
	position: fixed;
	top: 0;
  left: 0;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s;
	background: rgba(0,0,0,0.875);
}

#imgheader h3 {
  left: 10px;
  top: 10px;
}

#img *:not(img):not(video) {
  position: fixed;
}

#imgheader svg {
	height: 2.26rem;
  width: 2.26rem;
  right: 10px;
  top: 10px;
	cursor: pointer;
	transition: stroke .3s;
  stroke: white;
}

 #imgheader svg:hover {
	stroke: #999999 !important;
}

#imgheader {
	color: white;
}

#imgheader > h3 > i {
  user-select: none;
	opacity: 1;
	transition: opacity .1s;
  width: calc(100vw - 2.26rem - 30px);
}

#image {
	height: calc(100vh - 2.26rem - 20px);
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: opacity .3s;
  user-select: none;
}

#viewbox #leftp, #viewbox #rightp {
	transition: .3s;
	cursor: pointer;
  height: calc(100vh - 2.26rem - 20px);
  bottom: 0;
  stroke: white;
  display: flex;
  align-items: center;
}

#viewbox #left {
  left: 0;
}

#viewbox #right {
  right: 0;
}

#viewbox #leftp {
  opacity: 0.2;
  left: 0;
  background: radial-gradient(ellipse 100% 50% at left, rgba(0,0,0,0), rgba(0,0,0,0));
  transition: .3s;
}

#viewbox #rightp {
  opacity: 0.2;
  right: 0;
  background: radial-gradient(ellipse 100% 50% at right, rgba(0,0,0,0), rgba(0,0,0,0));
  transition: .3s;
}

#viewbox #leftp:hover, #viewbox.trigger #leftp {
  opacity: 1;
  background: radial-gradient(ellipse 100% 50% at left, rgba(0,0,0,0.5), rgba(0,0,0,0));
  transition: .3s;
}

#viewbox #rightp:hover, #viewbox.trigger #rightp {
  opacity: 1;
  background: radial-gradient(ellipse 100% 50% at right, rgba(0,0,0,0.5), rgba(0,0,0,0));
  transition: .3s;
}

#image > img, #image > video {
	max-height: calc(100vh - 2.26rem - 20px);
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media all and (orientation: landscape){
  #viewbox #left, #viewbox #right {
    width: 5vw;
  }
  #viewbox #leftp, #viewbox #rightp {
  	width: 7.5vw;
  }
}

@media all and (orientation: portrait){
  #viewbox #left, #viewbox #right {
    width: 12.5vw;
  }
  #viewbox #leftp, #viewbox #rightp {
  	width: 20vw;
  }
}
