* {
  padding: 0;
  margin: 0;
	outline: none;
  border: 0;
}

body {
	position:relative;
    font-family:
		'Outfit', sans-serif;
	font-size: 18px;
	overscroll-behavior: none;
  overflow-wrap: anywhere;
  overflow-y: scroll;
  opacity: 1;
  transition: opacity .5s;
}

h1 {
	font-size: 2.8rem;
	font-weight: 600;
	padding: 0 0 1.1rem 0;
}

h2 {
	font-size: 2rem;
	font-weight: 500;
  padding: 1rem 0;
  line-height: 2rem;
}

h3 {
	font-size: 1.4rem;
	font-weight: 400;
  padding: 0.43rem 0;
}

p, h4 {
	font-size: 1rem;
	font-weight: 350;
	margin-bottom: .35rem;
}

p {
	text-indent: 2rem;
}

small {
	font-size: .7rem;
	font-weight: 300;
  padding: 0.725rem 0;
}

a {
	text-decoration: none;
	color: black;
}

svg {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

section {
  padding: 1rem;
}

section#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  justify-content: center;
}

section#top svg {
  fill: black;
  max-width: 100%;
}

section#top svg #th {
  transition: fill 1s;
}

section#about {
  display: flex;
  align-items: center;
}

section#works {
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#works > div {
  display: flex;
}

section#works #image {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity .15s;
}

img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
}

div#links {
  gap: 1vw 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-content: space-evenly;
}

div#links > a {
  font-size: 1rem;
  line-height: 1rem;
  height: 1rem;
  padding: 5px 7.5px;
  margin: 5px;
  border: solid black;
  border-width: 1.75px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow .3s, background .3s;

}

div#links > a:hover {
  box-shadow: 0 0 0 1.75px black;
}

#about > div:nth-child(2) > img{
  width: 100%;
  max-height: 100vh;
}

@media all and (orientation:landscape) {
  section#about {
    flex-direction: row;
  }

  section#about > div:first-child {
    padding: 0 1rem 0 0;
  }

  section#works {
    height: calc(100vh - 2rem);
  }

  section#works > div {
    flex-direction: row;
    height: calc(100vh - 5rem);
  }

  section#works #image {
    height: 100%;
    width: calc(80vw - 5rem);
    margin-right: 1rem;
  }

  div#links {
    width: calc(100% - 80vw + 5rem);
  }

  #about > div:nth-child(1){
    width: 70vw;
  }

  #about > div:nth-child(2){
    width: 40vw;
    max-height: 100vh;
  }
}

@media all and (orientation:portrait) {
  section#about {
    flex-direction: column;
  }

  section#about > div:first-child {
    padding: 0 0 1rem 0;
  }

  section#works > div {
    flex-direction: column;
    align-items: flex-start;
  }

  section#works #image {
    width: 100%;
    margin-bottom: 1rem;
  }

  #about > div:nth-child(1){
    width: 100%;
  }

  #about > div:nth-child(2){
    width: 100%;
    max-height: 100vh;
  }
}
